<!DOCTYPE html>
<html ng-app="tableApp">
  <head>
    <meta charset="utf-8" />
    <title>AngularJS Tables</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <!-- @author avinash -->
    <!-- @task create table for CRUD operations -->
  </head>
  <body>
      <div ng-controller="tableCtrl">
          <button ng-click="add()">Add</button>
          <hr>
          <table border="5" cellpadding="10" cellspacing="2">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <!-- below track by $index ignores duplicate values -->
                  <tr ng-repeat="item in items track by $index">
                    <td>
                      <span ng-bind="item.name" ng-if="!item.show"></span>
                      <input type="text" name="name" ng-model="item.name" ng-if="item.show">
                    </td>
                    <td>
                      <span ng-bind="item.location" ng-if="!item.show"></span>
                      <input type="text" name="location" ng-model="item.location" ng-if="item.show">
                    </td>
                    <td>
                        <button ng-click="change($index)" ng-if="!item.show">Edit</button>
                        <button ng-click="change($index)" ng-if="item.show">Save</button>
                        <button ng-click="delete($index)">Delete</button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <script type="text/javascript">
          angular
            .module("tableApp",[])
            .controller('tableCtrl', ['$scope', function ($scope) {
                if (localStorage.getItem("items") === null) {
                  $scope.items = [
                          {name:"avinash",location:"Hyderabad",show:false},
                          {name:"gouthami",location:"Hyderabad",show:false},
                          {name:"karthik",location:"secunderabad",show:false},
                          {name:"vinay",location:"mumbai",show:false},
                      ];
                  localStorage.setItem("items", JSON.stringify($scope.items));
                }else {
                  $scope.items = JSON.parse(localStorage.getItem("items"));
                }
                $scope.add = function() {
                  var newitem = {name:"test",location:"test",show:false};
                  $scope.items.push(newitem);
                  localStorage.setItem("items", JSON.stringify($scope.items));
                }
                $scope.change = function(ind) {
                  $scope.items[ind].show = !($scope.items[ind].show);
                  localStorage.setItem("items", JSON.stringify($scope.items));
                }
                $scope.delete = function(ind) {
                  $scope.items.splice($scope.items.indexOf(ind), 1); 
                  localStorage.setItem("items", JSON.stringify($scope.items));
                }
            }])
      </script>
  </body>
</html>