<!DOCTYPE html>
<html ng-app="tableApp">
  <head>
    <meta charset="utf-8" />
    <title>AngularJS Tables</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <!-- @author avinash -->
    <!-- @task create table for CRUD operations -->
  </head>
  <body>
      <div ng-controller="tableCtrl">
          <button ng-click="add()">Add</button>
          <hr>
          <table border="5" cellpadding="10" cellspacing="2">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <!-- below track by $index ignores duplicate values -->
                  <tr ng-repeat="holding in holdings track by $index">
                    <td>
                      <span ng-bind="holding.name" ng-if="!holding.show"></span>
                      <input type="text" name="name" ng-model="holding.name" ng-if="holding.show">
                    </td>
                    <td>
                      <span ng-bind="holding.location" ng-if="!holding.show"></span>
                      <input type="text" name="location" ng-model="holding.location" ng-if="holding.show">
                    </td>
                    <td>
                        <button ng-click="change($index)" ng-if="!holding.show">Edit</button>
                        <button ng-click="change($index)" ng-if="holding.show">Save</button>
                        <button ng-click="delete($index)">Delete</button>
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <script type="text/javascript">
          angular
            .module("tableApp",[])
            .controller('tableCtrl', ['$scope', function ($scope) {
                if (localStorage.getholding("holdings") === null) {
                  $scope.holdings = [
                          {name:"avinash",location:"Hyderabad",show:false},
                          {name:"gouthami",location:"Hyderabad",show:false},
                          {name:"karthik",location:"secunderabad",show:false},
                          {name:"vinay",location:"mumbai",show:false},
                      ];
                  localStorage.setholding("holdings", JSON.stringify($scope.holdings));
                }else {
                  $scope.holdings = JSON.parse(localStorage.getholding("holdings"));
                }
                $scope.add = function() {
                  var newholding = {name:"test",location:"test",show:false};
                  $scope.holdings.push(newholding);
                  localStorage.setholding("holdings", JSON.stringify($scope.holdings));
                }
                $scope.change = function(ind) {
                  $scope.holdings[ind].show = !($scope.holdings[ind].show);
                  localStorage.setholding("holdings", JSON.stringify($scope.holdings));
                }
                $scope.delete = function(ind) {
                  $scope.holdings.splice($scope.holdings.indexOf(ind), 1); 
                  localStorage.setholding("holdings", JSON.stringify($scope.holdings));
                }
            }])
      </script>
  </body>
</html>