<!DOCTYPE html>
<html lang="en">
   <link rel="icon" href="assets/favicon.png">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
   <link rel="stylesheet" href="https://gitcdn.xyz/cdn/angular/bower-material/v1.2.1/angular-material.css">
   <link rel="stylesheet" href="https://material.angularjs.org/1.2.1/docs.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
   <script src="https://gitcdn.xyz/cdn/angular/bower-material/v1.2.1/angular-material.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-animate.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-aria.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-messages.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
   <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
   <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
   <script src="./index.js"></script>
   <script src="./charts.js"></script>
   <script src="./holdingsTable.js"></script>
   <body ng-app="app">
      <div class="container" ng-controller="MainCtrl as ctrl">
         <div>
            <div class="table-wrapper">
               <div class="table-title">
                  <div class="row">
                     <div class="col-sm-8">
                        <h2>Transactions <b>deetails</b></h2>
                     </div>
                     <div class="col-sm-4">
                        <button ng-click="add()" type="button" class="btn btn-success add-new"><i class="fa fa-plus"></i> Add New</button>
                        <button ng-click="getCurrentPrices()" class="btn btn-primary">Check Prices</button>
                        <button ng-click="download()" class="btn btn-info"><i class="fa fa-download"></i> Download</button>
                        <button ng-click="upload()" class="btn btn-info"><i class="fa fa-upload"></i>&nbsp;Upload</button>
                        <input id="uploadFile" type="file" hidden>
                     </div>
                  </div>
               </div>
               <holdings-table holdings="holdings"></holdings-table>
            </div>
            <charts holdings="holdings" side="'Buy'"></charts>
            <charts holdings="holdings" side="'Sold'"></charts>
            <div class="table-wrapper">
               <table class="table table-bordered table-hover">
                  <thead class="thead-light">
                     <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col" title="Price to earnings">PE Ratio (TTM)</th>
                        <th scope="col" title="Earnings per share">EPS (TTM)</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="holding in holdings | filter:'Buy'">
                        <th scope="row" class="align-middle"><span ng-bind="holding.name.shortname"></span></th>
                        <th scope="row" class="align-middle"><span ng-bind="holding.market.trailingPE.toFixed(2)"></span></th>
                        <th scope="row" class="align-middle"><span ng-bind="holding.market.epsTrailingTwelveMonths.toFixed(2)"></span></th>
                     </tr>
               </table>
            </div>
         </div>
      </div>
   </body>
</html>