<th scope="row">
    <my-row data="holding.name.shortname"></my-row>
    <span ng-bind="holding.name.shortname" ng-if="!holding.editing"></span>
    <div ng-cloak ng-controller="ApiController" ng-if="holding.editing">
        <md-content class="md-padding">
            <form ng-submit="$event.preventDefault()">
                <md-autocomplete md-selected-item="holding.name" md-items="item in autocompleteQuery(searchText)" md-search-text="searchText" md-item-text="item.shortname">
                    <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.exchange + ": " + item.shortname}}</span>
                    </md-item-template>
                    <md-not-found>No stocks matching "{{ctrl.searchText}}" were found.</md-not-found>
                </md-autocomplete>
            </form>
        </md-content>
    </div>
</th>
<td>
    <span ng-bind="holding.status"></span>
</td>
<td>
    <span ng-bind="holding.shares" ng-if="!holding.editing"></span>
    <input type="number" name="shares" ng-model="holding.shares" ng-if="holding.editing">
</td>
<td>
    <span ng-bind="holding.enter" ng-if="!holding.editing"></span>
    <input type="number" name="enter" ng-model="holding.enter" ng-if="holding.editing">
</td>
<td>
    <span ng-bind="holding.commissions" ng-if="!holding.editing"></span>
    <input type="number" name="commissions" ng-model="holding.commissions" ng-if="holding.editing">
</td>
<td>{{ ((holding.shares * holding.enter) + holding.commissions).toFixed(2) }}</td>
<td>
    <span ng-bind="holding.currentPrice" ng-if="holding.status != 'Selling'"></span>
    <input type="number" name="currentPrice" ng-model="holding.currentPrice" ng-if="holding.status === 'Selling'">
</td>
<td>{{ ((holding.shares * holding.currentPrice) - holding.commissions).toFixed(2) }}</td>
<td>
    <button ng-click="change($index)" ng-if="!holding.editing">Edit</button>
    <button ng-click="change($index)" ng-if="holding.editing">Save</button>
    <button ng-click="sell($index)" ng-if="holding.status != 'Selling' && holding.status != 'Sold'">Sell</button>
    <button ng-click="confirmSell($index)" ng-if="holding.status === 'Selling'">Confirm</button>
    <button ng-click="delete($index)">Delete</button>
</td>
</tr>
